@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: SweetCupCake;
    src: url(./Font/SweetCupcake_demo.ttf);
}

/* Colores Mezclar Bien */
:root {
    --columbia-blue: #BFE0F4;
    --lilac: #DAA2C7;
    --steel-blue: #4883A9;
    --gunmetal: #16242E;
    --white: #FDFEFD; 
    --font-family: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* Caracteristicas de mi Header */
.header1 {
    background: var(--steel-blue);
    width: 100%;    
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding: 10px 100px;
}

.header1 .logo {
    height: 80%;
    border-radius: 15px;
}

/* Caracteristicas de mi Navbar */
.navbar1, .navbar1 ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar1 i {
    display: none;
}

#toggle-menu { 
    display: none;
}

.navbar1 {
    gap: 50px;
}

.navbar1 ul {
    font-size: x-large;
    gap: 40px;
}

.navbar1 ul li:hover {
    border-bottom: 2px solid var(--lilac);
}

.navbar1 ul li a {
    color: var(--lilac);
    font-weight: 500;
}

.navbar1 .basket-icon {
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    margin-right: 1rem;
    border: 2px solid var(--lilac);
    cursor: pointer;
}

.header2 {
    background: var(--columbia-blue);
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 10px;
}

.navbar2, .navbar2 ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar2 ul {
    font-size: x-large;
    gap: 40px;
}

.navbar2 ul li:hover {
    border-bottom: 2px solid var(--lilac);
}

.navbar2 ul li a {
    color: var(--lilac);
    font-weight: 500;
}

main {
    background: var(--lilac);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 230px;
}

#hero {
    /* top: 180px; */
    padding: 50px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 76vh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-text h1 {
    font-family: SweetCupCake;
    font-size: 4rem;
}

.hero-text h2 {
    font-size: 48px;
    /* min-width: 500px; */
    font-weight: 800;
    color: var(--steel-blue);
}

.hero-img {
    width: 300px;
    background: var(--columbia-blue);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-img img {
    border-radius: 15px;
}

/* Cards Section */
#cards {
    /* padding: 150px 0 50px 0; */
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    height: 76vh;
}

#cards h2 {
    font-size: 40px;
    font-weight: 800;
    color: var(--steel-blue);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    gap: 20px;
    
    /* padding: 20px; */
}

.card-info {
    width: 400px;
    height: 450px;
    background-color: var(--columbia-blue);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 5px;
}

.card-info img {
    border-radius: 15px;
    object-fit: contain;
    width: 100%;
    height: 80%;
}

.card-info h4 {
    font-size: 12px;
    font-weight: 500;
}

#about-us {
    padding: 10px 0 50px 0;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    height: 120vh;
}

#about-us h2 {
    font-size: 40px;
    font-weight: 800;
    color: var(--steel-blue);
}

.about-us-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--gunmetal);
    text-align: center;
}

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 75vh;
    margin-bottom: 40px;
}

#contacto h2 {
    font-size: 40px;
    font-weight: 800;
    color: var(--steel-blue);
}

#contacto p {
    padding: 10px;
}


.form-title {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}
/* 
.map-container {
    width: 100%;
} */






@media (max-width: 576px) {
    .navbar ul {
        background: white;
        width: 100%;
        height: calc(100vh - 100px);
        position: absolute;
        top: 100px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
    }
}

.hero__content {
    height: 100vh;
    /* calc(100vh - 20px); */
    background-color: var(--lilac);
    background-image: url;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; */
}


/* Formato de Input para Ingresar/Registrarse */

.form {
    background-color: var(--lilac);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 75vh;
    margin-bottom: 20px;
}

.form__title {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form__button {
    width: 100%;
    padding: 10px;
    background-color: var(--steel-blue);
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

.form__button:hover {
    background-color: var(--columbia-blue);
}

.form .form-link {
    text-align: center;
}

.footer-container {
    background-color: var(--lilac);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social {
    width: 50%;
}

.footer-marca {
    font-family: SweetCupCake;
    font-size: 3rem;
}